<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" asp-route="HomePage">OpenBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="~/about">About</a>
                </li>
            </ul>

            <form id="global_search_form" class="form-inline my-2 my-lg-0" action="/form-submit" method="post">
                <input type="hidden" name="form_type" value="globalSearch"/>
                <input class="form-control mr-sm-2" type="search" name="searchText" placeholder="Search" aria-label="Search" value="@ViewBag.SearchText">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <partial name="_NavMenuRight"/>
        </div>
    </div>
</nav>