<h2>开发历史</h2>
<h3>2020-04-30 by dk</h3>
<ul>
    <li>Post模型丰富,增加Slug、CreateTime, UpdateTime等</li>
    <li>增加GenericPage支持</li>
    <li>通过RouteTransformer增加对个性化地址的支持</li>
</ul>

<h3>后续任务 by dk</h3>
<ul>
    <li>博客文章Comment的支持</li>
    <li>Contact留言板的支持</li>
</ul>