<h2>开发历史</h2>
<h3>2020-05-05</h3>
<ul>
    <li>增加Post编辑功能</li>
    <li>Admin Web & UserCenter Web使用 blazor wasm开发，已完成host与发布</li>
</ul>
<h3>2020-05-03 by dk</h3>
<ul>
    <li>前台站点UI更新</li>
    <li>重构AdminArea</li>
</ul>
<h3>2020-05-2 by dk</h3>
<ul>
    <li>增加通用表单提交处理(contact form,post comment form, search form)</li>
    <li>增加Notification模块，支持页面级别的通知</li>
    <li>Post增加Commit功能</li>
    <li>Post Summary修改为从Content中获取前200个字符(移除html标签之后的字符)</li>
</ul>
<h3>2020-05-1 by dk</h3>
<ul>
    <li>用户登录支持(jing8958提供pr)</li>
    <li>增加启动后安装流程</li>
    <li>通过RouteTransformer增加对个性化地址的支持</li>
    <li>添加CKEditor 5.0作为编辑器</li>
</ul>
<h3>2020-04-30 by dk</h3>
<ul>
    <li>Post模型丰富,增加Slug、CreateTime, UpdateTime等</li>
    <li>增加GenericPage支持</li>
    <li>通过RouteTransformer增加对个性化地址的支持</li>
    <li>添加CKEditor 5.0作为编辑器</li>
</ul>

<h3>后续任务 by dk</h3>
<ul>
    <li>博客文章Comment的支持</li>
    <li>Contact留言板的支持</li>
</ul>