<form method="post" asp-action="Index">
     <div asp-validation-summary="All" class="text-danger"></div>
    <span>Init Token</span>
    <input name="token"/>
    <input type="submit" value="Submit"/>
</form>