@model IEnumerable<OpenBlog.Web.Models.PostPublicListItem>

<section class="post-list">
    @foreach (var item in Model)
    {
        <div class="card post-item">
            <div class="card-header post-header">
                <a href=@($"/blog/{item.CreateTime.Year}/{item.CreateTime.Month}/{item.Slug ?? item.PostId}")>@item.Title</a>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @item.Summary
                </p>
            </div>
            <div class="card-footer text-muted">
                <span>发布时间 @Html.Raw(item.CreateTime)</span>
                @if (!item.UpdateTime.Equals(item.CreateTime))
                {
                    <span>最后更新 @Html.Raw(item.UpdateTime)</span>
                }
            </div>
        </div>
    }
</section>