@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<OpenBlog.Web.Models.PostListItem>
@section Styles
{
    <style>
        .post-list {
        }

        .post {
            margin: 20px;
        }

        .post-header {
            background: #ccc;
        }
    </style>
}

<section class="post-list">
    @foreach (var item in Model)
    {
        <div class="post" data-post-id="@item.PostId">
            <div class="post-header">@item.Title</div>
            <div class="post-content">@item.Content</div>
        </div>
    }
</section>