@{
    Layout = "_Layout.Root";
}
@section Styles
{
    @await RenderSectionAsync("Styles", required: false)
}
<div class="container">
    <partial name="_Notification" />
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}
